.imageB{
  cursor: pointer;
  margin-left: 3px;
}

.actionsDiv{
  display: flex;
  justify-content: flex-end;
}

.save-div {
  margin-top: 1.5px;
}

.trash{
  color: red;
}

.save{
  color:green;
}

.listItem{
  float: right;
}

.tagDiv{
  margin-top: 5px;
  margin-bottom: 5px;
}
