.image-button{
  display: flex;
  justify-content: center;
  cursor: pointer;
  padding: .375rem .425rem;
  font-size: 1.3em; 
  margin-top: 0.5em;
}

.save-button {
  margin-left: 3px;
  font-size: 1.4em;
}

.back-button {
  position: absolute;
  left: 25px;
  font-size: 1.5em;
  align-self: flex-end;
}

.back-button:hover {
    color: gray;
}

.actionsDiv{
  display: flex;
  justify-content: flex-end;
}

.listItem{
  float: right;
}

.tagDiv{
  margin-top: 5px;
  margin-bottom: 5px;
}
