.App {
  text-align: center;
  overflow-x: scroll;
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb:horizontal {
    background:  #A9A9A9;
}

::-webkit-scrollbar-thumb:vertical {
    background:  white;
}

th{
	text-align:center;
}

th.clickable{
	cursor:pointer;
}

th.clickable:hover{
  background-color: lightgray;
}

.tableGreen{
	color: springgreen;
}

.tableRed{
	color: salmon;
}
