body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* Loading effects. Spinner is defined in Menu component. */
.loading {
  background: #f8f9fa;
}

.spinner{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  margin-left: -40px;
  margin-top: -40px;
  z-index: 2;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #e2e5ea;
}

::-webkit-scrollbar-thumb:horizontal {
    background:  #A9A9A9;
}

::-webkit-scrollbar-thumb:vertical {
    background:  white;
}

/* Global table styles */
th{
	text-align:center;
}

th.clickable{
	cursor:pointer;
}

th.clickable:hover{
  background-color: lightgray;
}

.tableGreen{
	color: springgreen;
}

.tableRed{
	color: salmon;
}

