.hide{
	display: none;
}

.content{
	text-align: center;
	overflow-x: scroll;
}

.list{
	max-height:400px;
	overflow-x: scroll;
}

@media screen and (max-width: 600px) {
  .button{
	  width:100%;
	  margin-left:2px;
	  margin-right:2px;
  }
}
