.info {
  position: fixed;
  bottom: 0;
  min-width: 250px;
}

.warning {
  border-color: #ffe200;
}

.danger {
  border-color: #ff5252;
}

.success {
  border-color: #48cc45;
}

@media screen and (max-width: 800px) {
	.info{
		width: 100%;
    max-width: none;
	}
}
