.filter{
  width: 100%;
  display: flex;
  margin: 5px;
  justify-content: center;
}

.valueList-check-div {
  display: flex;
  align-items: center;
  flex: 1 1 0;
  justify-content: center;
}

.valueList-check {
  margin-left: 0.8em;
}

.check {
  position: initial;
  padding-left: 0;
  margin: auto;
}

.label {
  flex: 0 1 auto;
  margin-top: auto;
  margin-bottom: auto;
}

.inputs {
  display: flex;
  margin-left: auto;
  max-width: 66%;
}

.datetime-inputs {
  margin-left: auto;
}

.datetime-input {
  font-size: small;
}

.react-datepicker__close-icon {
  opacity: 0;
}

.react-datepicker-wrapper:hover .react-datepicker__close-icon {
    opacity: 1;  
    transition: opacity 0.6s ease;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list::webkit-scrollbar{
  width: 0px !important;
}

@media screen and (max-width: 800px){

  .react-datepicker-popper {
    left: 0 !important;
  }

  .react-datepicker__triangle {
    visibility: collapse;
  }
}

@media screen and (max-height: 400px){

  .react-datepicker-popper {
    top: 3em !important;
  }
}
