.filter{
  width: 100%;
  display: flex;
  margin: 5px;
  justify-content: center;
}

.boolean-check-div {
  display: flex;
}

.boolean-check {
  margin-left: 0.8em;
}

.check {
  position: initial;
  padding-left: 0;
  margin: auto;
}

.label {
  flex: 0 1 auto;
  margin: auto;
}

.inputs {
  display: flex;
  margin-left: auto;
  max-width: 200px;
}
