.filter{
  width: 100%;
  display: flex;
  margin: 5px;
}

.dropdown {
  margin-left: 10px;
}

.input-field {
  flex: 0 1 auto;
}

.input-field-small {
  display: flex;
  flex-direction: row;
  width: 50px;
}
