.row {
  margin: 2px;
}

.addButton {
  position: relative;
  float: right;
  margin-top: 0.5em;
  margin-right: 2px;
  cursor: pointer;
}

.betList {
  max-height: 400px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.betView {
  margin-bottom: 10px;
}

.small-betInfo {
  font-size: smaller;
}
