.addButton{
  position: fixed;
  right: 0;
  bottom: 0;
  margin-bottom: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.betList{
  max-height: 400px;
  min-height: 300px;
  overflow-x: scroll;
}

.betView{
	max-height:400px;
	overflow-x: scroll;
}

@media screen and (max-width: 800px) {
  .addButton{
    position: relative;
    margin-top: 10px;
    float: right;
  }
}
