/* Button */
.button {
    margin: 0.3em;
    width: auto;
}

.page-image-button {
    flex: 0.2 1 auto !important;
    height: 2.3em;
    width: 2.3em;
    margin-top: 2.2em;
}

/* Chart */
.page-chart {
    height: 50vh;
}

.barchart-custom-tooltip {
    background-color: white;
    box-shadow: 5px 5px 4px #888888;
}

.chart-selection {
    margin-bottom: .5em;
}

/* Field */
.input-field-wrapper {
    display: flex;
    margin-top: 0.2em;
    margin-right: 0.3em;
    margin-left: 0.3em;
    flex-direction: column;
}

.dropdown.input-field-wrapper {
    flex: 0 1 auto !important;
    margin-left: .25em;
    margin-right: .25em;
}

.react-datepicker-wrapper {
    width: 100%;
}

.react-datepicker__input-container {
    width: 100%;
}

.datetime-input {
    width: 100%;
}

.datetime-input.disabled {
    background: #e9ecef;
}


/* InputDropdown styles*/
.add-options-item {
    display: flex;
}

.add-options-input {
    min-width: 8em;
}

.add-selection-item {
    border-top: .5px solid gray;
    border-bottom: .5px solid gray;
}

.add-selection-item-inner-div {
    display: flex;
    align-items: baseline;
}

.add-selection-item-text {
    flex: 1 0 100%;
    margin: 0;
}

.add-selection-item-remove:hover {
    color: #e2e5ea;
}

/* List group */
.small-div {
    font-size: smaller;
  }
  
  .listGroupItemBody {
    display: none;
    background-color: #f0f0f0;
    padding: .3em;
  }
  
  .listGroupItemBody.visible {
    display: block;
  }

  /* Table */
tr {
	cursor: pointer !important;
}