/* Button */
.button {
    margin: 0.3em;
    width: auto;
}

.page-image-button {
    flex: 0.2 1 auto !important;
    height: 2.3em;
    width: 2.3em;
    margin-top: 2.12em;
    margin-left: .2em;
}

/* Chart */
.page-chart {
    height: 50vh;
}

.barchart-custom-tooltip {
    background-color: white;
    box-shadow: 5px 5px 4px #888888;
}

.chart-selection {
    margin-bottom: .5em;
}

/* Field */
.input-field-wrapper {
    display: flex;
    margin-top: 0.2em;
    margin-right: 0.3em;
    margin-left: 0.3em;
    flex-direction: column;
}

.dropdown.input-field-wrapper {
    flex: 0 1 auto !important;
    margin-left: .25em;
    margin-right: .25em;
}

.react-datepicker-wrapper {
    width: 100%;
}

.react-datepicker__input-container {
    width: 100%;
}

.datetime-input {
    width: 100%;
}

.datetime-input.disabled {
    background: #e9ecef;
}


/* InputDropdown styles*/
.add-options-item {
    display: flex;
}

.add-options-input {
    min-width: 8em;
}

.add-selection-item {
    border-top: .5px solid gray;
    border-bottom: .5px solid gray;
}

.add-selection-item-inner-div {
    display: flex;
    align-items: baseline;
}

.add-selection-item-text {
    flex: 1 0 100%;
    margin: 0;
}

.add-selection-item-remove:hover {
    color: #e2e5ea;
}

.dropdown-selection-div {
    max-height: 50vh;
    overflow: auto;
}

.open-copy-selections-button {
    width: 100%;
}

.copy-selections-div {
    display: flex;
    border-bottom: 1px solid rgba(0,0,0,.2);
    margin-bottom: .2em;
}

.copy-selections-div p {
    flex-basis: 100%;
}

.copy-selections-button {
    margin-bottom: .2em;
}

/* List group */
.small-div {
    font-size: smaller;
}
  
.listGroupItemBody {
    display: none;
    background-color: #f0f0f0;
    padding: .3em;
}

.listGroupItemBody.visible {
    display: block;
}

/* Table */
tr {
	cursor: pointer !important;
}

/* Card menu */
.grid {
    display: table-cell;
    width: 50%;
}

i {
    margin-top: .35em;
}

.card {
    display: inline-block;
    vertical-align: middle;
    width: 250px;
    height: 250px;
    margin-top: 100px;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
}
  
.cardButton {
    background: #6B5B95;
    border-radius: 8px;
    bottom: 2px;
    left: 0;
    right: 0;
    width: 50%;
    margin: auto;
    position: absolute;
}

.content{
    height: 100%;
	text-align: center;
    overflow-x: hidden;
    overflow-y: auto;
}

@media screen and (max-width: 600px) {
	.textContainer{
		width: 100%;
	}
}

.grid{
  display: table-cell;
  width: 50%;
}

/** Page panel styles */
.page-panel-header {
    font-size: 1.5em;
    background: rgb(226, 229, 234);
}

.page-panel-header:hover {
    background: lightgray;
}

.arrow-div {
    float: right;
    font-size: 1.5em;
    margin-top: .27em;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
}

.arrow-right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
.arrow-down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/** Page label */
.page-content-label {
    margin-left: .2em;
    align-self: flex-end;
}