.tag{
  border: 1px solid black;
  border-radius: 8px;
  padding: 3px;
  display: inline;
  background-color: black;
  color: white;
  font-family: Verdana, Geneva, sans-serif;
}

.img{
  margin-left: 2px;
}
