.App-header {
  text-align:left;
  background-color: #222;
  padding: 10px;
  color: white;
  display: flex;
  height: 70px;
}

.App-logo {
  height: 50px;
  width: 50px;
  align-self: center;
}

.App-title {
  font-size: 1em;
  display: flex;
  align-items: flex-end;
  margin-left: 2em;
  margin-bottom: 0.9em;
}
