.page-tab-content-div {
    height: calc(100% - 112px);
    overflow-y: auto;
    overflow-x: auto;
}

.page-content {
    margin-bottom: 0.5em;
    overflow-x: auto;
    height: calc(100% - 112px);
    overflow-y: auto;
}

.tab-content {
    height: 100%;
}

.child-container-div {
    width: 100%;
    display: flex;
}

.child-container-div .input-field-wrapper {
    flex: 1 1 auto;
}

.container-div button {
    flex: 1 0 auto;
}