.page-content {
    margin-bottom: 0.5em;
}

.tab-content {
    height: 100vh;
}

.child-container-div {
    width: 100%;
    display: flex;
}

.child-container-div .input-field-wrapper {
    flex: 1 1 auto;
}

.container-div button {
    flex: 1 0 auto;
}