.content {
  text-align: center;
  overflow-x: scroll;
  height: 100%;
  width: 100%;
}

.statsWindow{
  height: 100%;
  width: 100%;
}

.chart{
  border: 1px dotted red;
  width: 100%;
  height: 200px;
}

.tableGreen{
	color: springgreen;
}

.tableRed{
	color: salmon;
}

th{
	text-align:center;
}

th.clickable{
	cursor:pointer;
}
